ow_includes/config.php
ow_libraries/htmlpurifier
ow_libraries/html5lib-php-0.1/
ow_smarty/template_c/*
!ow_smarty/template_c/.gitignore

ow_libraries/vendor

.settings
.project
.buildpath
.DS_Store
.idea
error_log
access_log
blank
build
.owr
owr.sh
owr.py

ow_log/*
!ow_log/.htaccess

*.orig

ow_userfiles/plugins/*
!ow_userfiles/plugins/admin/
!ow_userfiles/plugins/base/
ow_userfiles/themes/*
!ow_userfiles/themes/.gitkeep

ow_pluginfiles/*
!ow_pluginfiles/.htaccess
!ow_pluginfiles/admin/
!ow_pluginfiles/base/
!ow_pluginfiles/ow/
!ow_pluginfiles/photo/
!ow_pluginfiles/plugin/
!ow_pluginfiles/plugins/base/

ow_static/plugins/*
!ow_static/plugins/base/
!ow_static/plugins/admin/
ow_static/themes/*
!ow_static/themes/.gitkeep

*.csv
ow_iis/test/performance/output.csv