<div class="ow_automargin ow_superwide">
    {form name='PreloaderForm'}
         <table class="ow_table_1 ow_form">
            <tr>
                <td class="ow_label">{text key="iispreloader+preloadertype"}</td>
                <td class="ow_value">{input name="iispreloadertype"}</td>
            </tr>
             <tr class="ow_tr_last ow_center">
                 <td colspan="2">
                     {submit name='saveSettings'}
                 </td>
             </tr>
         </table>
    {/form}
</div>
