.st_slide1 {
  animation: fade1 25s infinite;
  -webkit-animation: fade1 25s infinite;
  z-index: 1;
  visibility: visible; }

@keyframes fade1 {
  0% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  4% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  8% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  12% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  16% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  20% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  24% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  28% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  32% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  36% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  40% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  44% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  48% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  52% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  56% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  60% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  64% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  68% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  72% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  76% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  80% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  84% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  88% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  92% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  96% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    z-index: 1;
    visibility: visible; } }
.st_slide2 {
  animation: fade2 25s infinite;
  -webkit-animation: fade2 25s infinite;
  z-index: 0;
  visibility: hidden; }

@keyframes fade2 {
  0% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  4% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  8% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  12% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  16% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  20% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  24% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  28% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  32% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  36% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  40% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  44% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  48% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  52% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  56% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  60% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  64% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  68% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  72% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  76% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  80% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  84% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  88% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  92% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  96% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; } }
.st_slide3 {
  animation: fade3 25s infinite;
  -webkit-animation: fade3 25s infinite;
  z-index: 0;
  visibility: hidden; }

@keyframes fade3 {
  0% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  4% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  8% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  12% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  16% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  20% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  24% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  28% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  32% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  36% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  40% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  44% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  48% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  52% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  56% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  60% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  64% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  68% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  72% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  76% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  80% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  84% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  88% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  92% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  96% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; } }
.st_slide4 {
  animation: fade4 25s infinite;
  -webkit-animation: fade4 25s infinite;
  z-index: 0;
  visibility: hidden; }

@keyframes fade4 {
  0% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  4% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  8% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  12% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  16% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  20% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  24% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  28% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  32% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  36% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  40% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  44% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  48% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  52% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  56% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  60% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  64% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  68% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  72% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  76% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  80% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  84% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  88% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  92% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  96% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; } }
.st_slide5 {
  animation: fade5 25s infinite;
  -webkit-animation: fade5 25s infinite;
  z-index: 0;
  visibility: hidden; }

@keyframes fade5 {
  0% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  4% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  8% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  12% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  16% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  20% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  24% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  28% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  32% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  36% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  40% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  44% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  48% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  52% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  56% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  60% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  64% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  68% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  72% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  76% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; }
  80% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  84% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  88% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  92% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  96% {
    opacity: 1;
    z-index: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    z-index: 0;
    visibility: hidden; } }
@keyframes fullexpand {
  /* In these keyframes, the progress-bar is stationary */
  0% {
    width: 0%;
    opacity: 0; }
  20% {
    width: 0%;
    opacity: 0; }
  40% {
    width: 0%;
    opacity: 0; }
  60% {
    width: 0%;
    opacity: 0; }
  80% {
    width: 0%;
    opacity: 0; }
  100% {
    width: 0%;
    opacity: 0; }
  /* In these keyframes, the progress-bar starts to come alive */
  4% {
    width: 0%;
    opacity: 0.3; }
  24% {
    width: 0%;
    opacity: 0.3; }
  44% {
    width: 0%;
    opacity: 0.3; }
  64% {
    width: 0%;
    opacity: 0.3; }
  84% {
    width: 0%;
    opacity: 0.3; }
  /* In these keyframes, the progress-bar moves forward for 3 seconds */
  16% {
    width: 100%;
    opacity: 0.7; }
  36% {
    width: 100%;
    opacity: 0.7; }
  56% {
    width: 100%;
    opacity: 0.7; }
  76% {
    width: 100%;
    opacity: 0.7; }
  96% {
    width: 100%;
    opacity: 0.7; }
  /* In these keyframes, the progress-bar has finished his path */
  17% {
    width: 100%;
    opacity: 0.3; }
  37% {
    width: 100%;
    opacity: 0.3; }
  57% {
    width: 100%;
    opacity: 0.3; }
  77% {
    width: 100%;
    opacity: 0.3; }
  97% {
    width: 100%;
    opacity: 0.3; }
  /* In these keyframes, the progress-bar will disappear and then resume the cycle */
  18% {
    width: 100%;
    opacity: 0; }
  38% {
    width: 100%;
    opacity: 0; }
  58% {
    width: 100%;
    opacity: 0; }
  78% {
    width: 100%;
    opacity: 0; }
  98% {
    width: 100%;
    opacity: 0; } }
.st_progress_bar {
  position: relative;
  top: 330px;
  width: 680px;
  height: 5px;
  background: #000;
  animation: fullexpand 25s ease-out infinite;
  border-radius: 2px; }

.st_slider {
  height: 320px;
  margin: 10px auto;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 6px;
  padding: 20px 5px 20px 5px; }

.st_slider_item {
  position: absolute;
  width: 100%;
  height: 100%; }

.st_slider_item_content {
  display: table-cell;
  width: 60%;
  vertical-align: middle;
  padding: 0px 20px 0px 20px; }

.st_slider_item_title {
  font-size: 20px;
  color: #ED3237;
  margin: 10px 0px 20px 0px;
  line-height: 30px; }

.st_slider_item_text {
  color: #5a5a5a;
  text-align: justify;
  margin: 0px 0px 0px 0px;
  line-height: 23px;
  font-size: 13px; }

a.st_slider_item_button {
  margin: 30px 0px 0px 10px;
  display: block;
  float: right; }

.st_slider_item_image_container {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  padding: 0px 15px 0px 15px; }

.st_slider_item_image_container img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto; }

.st_slider:hover div.st_slider_item, .st_slider:hover .st_progress_bar {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused; }

/*# sourceMappingURL=slideshow.css.map */
