<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>پایش فرزندان</name>
    <key>iiscontrolkids</key>
    <description>
        کاربران در هنگام ثبت‌نام در صورت داشتن سن کم، باید والد خود را انتخاب کنند. والدین بعد از ورود به‌حساب کاربری خود، می‌توانند به‌عنوان فرزندان خود وارد شبکه اجتماعی شوند.
    </description>
    <author>Yaser Alimardany</author>
    <authorEmail>yaser.alimardany@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10800</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
</plugin>
