<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
        اطلاع‌رسان مدیریت
    </name>
	<key>iisadminnotification</key>
	<description>
        ارسال رایانامه به مدیر به جهت آگاه کردن او از برخی اتفاقات مهم نظیر عضویت، درج نظر بر روی خبر، ایجاد موضوع و درج پاسخ در انجمن
    </description>
    <author>Yaser Alimardany</author>
    <authorEmail>yaser.alimardany@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10800</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
</plugin>
