.draggable-lang-item{
    cursor: move;
}

img.plugin-img-item{
    width: 40px;
}

#s1 a.act{
    display: none;
}

.lang_placeholder {
    border: 1px dashed grey;
}

tr.lang_placeholder td{
    border: 1px dashed grey;
}

#s1 td.features{
    width: 110px;
    max-width:110px;
}

.plugin-information{
    background-color: #fafafa !important;
    border-color: 1px solid rgb(229, 237, 244) !important;
    border-radius: 6px;
    display: inline-block;
    margin: 5px;
    padding: 10px 10px 0px 10px;
    max-width: 85%;
    vertical-align: top;
    width: 250px;
    min-height: 125px;
    text-align: right;
}

.item-information{
    display: inline-block;
    margin: 0px 10px 20px 10px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    height: 135px;
    text-align: center;
}

.plugin-information,
.themes-information,
.item-information{
    border: 1px solid #edede5;
    background-color: #fffff7;
}


.item-information img{
    width: 112px;
}

.item-information.theme img{
    width: 215px;
}

.core_img{
    width: 150px;
}

.plugin-information .download {
    clear: both;
    padding: 8px 0px 0px 0px;
    text-align: center;
}

.plugin-information p img {
    float: right;
    margin-left: 10px;
    width: 80px;
}

.themes-information p.download {
    margin-top: 15px;
    padding: 8px 0px 0px 0px;
}

.download img{
    width: 20px !important;
}

.download a {
    display: inline-block;
    margin: 5px;
}

p.download {
    border-top: 1px dashed lightgray;
    margin-bottom: 0px;
}

.plugin-information p span,
.themes-information p{
    font-weight: bold;
    font-size: 14px;
}

p.description_item {
    text-align: center;
    margin: 0px;
}

.plugin-information p.description {
    text-align: justify;
}

.description_core{
    padding: 0px 2px 0px 2px;
    margin: 0px;
}

.themes-information {
    display: inline-block;
    margin: 15px;
    background-color: #FAFAFA;
    border: 1px solid rgb(229, 237, 244) !important;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
}

.themes-information img {
    width: 200px;
    max-width: 100%;
}

.plugin-full-center-content{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.plugin-full-center-content .ow_wide {
    display: inline-block;
}

.plugin-full-center-content .ow_wide,
.plugin-full-center-content .ow_narrow {
    display: inline-block;
    vertical-align: top;
}

.st_download_shub_item { padding: 20px; text-align: justify; border-radius: 8px; border: 1px solid rgb(229, 237, 244); margin: 0px 0px 20px; background-color: rgb(241, 250, 250); min-height: 110px; }
.st_download_shub_item p.description_item a { padding: 10px 20px; margin: 0px 0px 20px; line-height: 30px; display: block; color: rgb(255, 255, 255); font-size: 18px; border-radius: 6px; background-color: rgb(237, 50, 55); }
.st_download_shub_date p.description_item { text-align: right; margin: 0px 0px 10px 0px; }
.st_download_shub_date p.description_core { text-align: right; }
div.plugin-information div.st_top_info { width: 100%; display: table; margin: 0px 0px 10px; }
div.plugin-information div.st_top_info div.st_top_info_title { font-size: 14px; display: table-cell; vertical-align: middle; font-weight: bold; }
div.plugin-information div.st_top_info div.st_top_info_icon { display: table-cell; vertical-align: middle; text-align: left; }
div.plugin-information div.st_top_info div.st_top_info_icon img { width: 50px; }