{form name='edit-item'}
<table>
    <tr>
        <td colspan="3">
            {label name='header'}{input name='header'}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {label name='description'}{input name='description'}
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {label name='use'}{input name='use'}
            {label name='notification'}{input name='notification'}
            {label name='email'}{input name='email'}
        </td>
    </tr>
    <tr>
        <td colspan="3">{submit name='submit'}</td>
    </tr>
</table>
{input name='id'}
{/form}