
<div class="owm_list_item_view_title clearfix owm_nav_cap owm_nav_cap_left_cont owm_nav_cap_right_cont owm_bg_color_3 owm_border">
    <div class="owm_float_left">
        <a class="owm_nav_cap_left" href="{$backUrl}"></a>
    </div>
    <h4>{$info.dto->title}</h4>
</div>

<div class="ow_superwide owm_iisnews_view" style="float:left;min-width: calc(100% - 23px);">
    <div class="owm_list_item_view_body clearfix">
        {$info.dto->entry}
    </div>
    <div class="ow_stdmargin"><center>{$paging}</center></div>
    <div class="owm_iisnews_view_additional_info clearfix">
            <span class="owm_item_info_label">{text key="iisnews+added"}</span>
            <span class="owm_item_info_value">{format_date timestamp=$info.dto->timestamp}</span>
    </div>
    {$comments}
</div>

