<table class="ow_table_1">
    <tr>
        <th colspan="3">
            {text key="iiscontrolkids+kids_list_header"}
        </th>
    </tr>
    <tr>
        <th>{text key="iiscontrolkids+kid_username_label"}</th>
        <th>{text key="iiscontrolkids+kid_shadow_login_url_label"}</th>
        <th class="ow_desc">{text key="iiscontrolkids+kid_email_label"}</th>
    </tr>
    {foreach from=$items item="item"}
    <tr>
        <td>{$item.username}</td>
        <td><a href="{$item.shadowLoginUrl}">{text key="iiscontrolkids+login_as_label"}</a></td>
        <td class="ow_desc">{$item.email}</td>
    </tr>
    {/foreach}
</table>
