<div id="search_content">
    <div id="search_input_content">
        <span>
            {text key='iisadvancesearch+search_title'}
        </span>
        <input type="text" id="search_input_item" name="search_input_item" onkeyup="doSearch('{$searchActionUrl}','search_input_item')" />
    </div>
    <div id="div_result_search_items_information">

    </div>
    <div class="ow_right ow_narrow" id="div_result_search_users_items">

    </div>
    <div class="ow_right ow_wide" id="div_result_search_forums_items">

    </div>
</div>