<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="init.php">
    <testsuites>
        <testsuite name="Oxwall Tests">
            <directory>ow_core</directory>
            <exclude>ow_core/linkCheckingTest.php</exclude>
            <directory>ow_plugins</directory>
            <directory>ow_utilities</directory>
            <directory>ow_plugins</directory>
        </testsuite>
    </testsuites>
</phpunit>