/*========================================================
       Preloader, By Milad Heshmati
  ========================================================*/




/* ==========================  admin's pannel preloader ============================ */

.ow_admin_area #loading{
    background-color: rgba(47,50,53,0.99);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    margin-top: 0px;
    top: 0px;
}
.ow_admin_area #loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
.ow_admin_area #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);

}
.ow_admin_area .object{
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left:  5px solid #FFF;
    border-right: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
}
.ow_admin_area #object_one{
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}
.ow_admin_area #object_two{
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.ow_admin_area #object_three{
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.ow_admin_area #object_four{
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
@-webkit-keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
@keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8);
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}

/* ==========================  theme's preloader =================================== */
#loading{
    background-color: #1e1e20;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;
    margin-top: 0px;
    top: 0px;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

}
.object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    margin-right: 110px;
    float: left;
    margin-bottom: 110px;

}
.object:nth-child(2n+0) {
    margin-right: 0px;

}


#object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
}
#object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
}
#object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
}
#object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
}
#object_big{
    -webkit-animation: object_big 0.5s infinite;
    animation: object_big 0.5s infinite;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
}






@-webkit-keyframes object_big {
    25% { -webkit-transform:  scale(0.5); }

}

@keyframes object_big {
    25% {
        transform:  scale(0.5);
        -webkit-transform:   scale(0.5);
    }
}



@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(130px,0) rotate(-90deg) ; }
    50% { -webkit-transform: translate(130px,130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(0,130px) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes object_one {
    25% {
        transform: translate(130px,0) rotate(-90deg) ;
        -webkit-transform: translate(130px,0) rotate(-90deg) ;
    }
    50% {
        transform: translate(130px,130px) rotate(-180deg);
        -webkit-transform: translate(130px,130px) rotate(-180deg);
    }
    75% {
        transform: translate(0,130px) rotate(-270deg) ;
        -webkit-transform: translate(0,130px) rotate(-270deg) ;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(0,130px) rotate(-90deg) ; }
    50% { -webkit-transform: translate(-130px,130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(-130px,0) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes object_two {
    25% {
        transform: translate(0,130px) rotate(-90deg) ;
        -webkit-transform: translate(0,130px) rotate(-90deg) ;
    }
    50% {
        transform: translate(-130px,130px) rotate(-180deg);
        -webkit-transform: translate(-130px,130px) rotate(-180deg);
    }
    75% {
        transform: translate(-130px,0) rotate(-270deg) ;
        -webkit-transform: translate(-130px,0) rotate(-270deg) ;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(0,-130px)  rotate(-90deg) ; }
    50% { -webkit-transform: translate(130px,-130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(130px,0) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes object_three {
    25% {
        transform: translate(0,-130px)  rotate(-90deg) ;
        -webkit-transform: translate(0,-130px)  rotate(-90deg) ;
    }
    50% {
        transform: translate(130px,-130px) rotate(-180deg);
        -webkit-transform: translate(130px,-130px) rotate(-180deg);
    }
    75% {
        transform:  translate(130px,0) rotate(-270deg) ;
        -webkit-transform: translate(130px,0) rotate(-270deg) ;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(-130px,0)  rotate(-90deg) ; }
    50% { -webkit-transform: translate(-130px,-130px) rotate(-180deg); }
    75% { -webkit-transform:  translate(0,-130px) rotate(-270deg) ; }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes object_four {
    25% {
        transform: translate(-130px,0)  rotate(-90deg) ;
        -webkit-transform: translate(-130px,0)  rotate(-90deg) ;
    }
    50% {
        transform: translate(-130px,-130px) rotate(-180deg);
        -webkit-transform: translate(-130px,-130px) rotate(-180deg);
    }
    75% {
        transform: translate(0,-130px) rotate(-270deg) ;
        -webkit-transform: translate(0,-130px) rotate(-270deg) ;
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}