{style}{literal}

.groups-invite-link
{
text-align:center;
}

{/literal}{/style}

<script type="text/javascript">
    {literal}
    function GROUPS_InitInviteButton( options )
    {
        var floatBox, userIdList = options.userList;

        $('#GROUPS_InviteLink').click(
                function()
                {
                    floatBox = OW.ajaxFloatBox('BASE_CMP_AvatarUserListSelect', [userIdList],
                            {
                                width:600,
                                height:350,
                                iconClass: 'ow_ic_user',
                                title: options.floatBoxTitle
                            });
                }
        );

        OW.bind('base.avatar_user_list_select',
                function(list)
                {
                    floatBox.close();

                    $.ajax({
                        type: 'POST',
                        url: options.inviteResponder,
                        data: {"groupId": options.groupId, "userIdList": JSON.stringify(list), "allIdList": JSON.stringify(options.userList)},
                        dataType: 'json',
                        success : function(data)
                        {
                            if( data.messageType == 'error' )
                            {
                                OW.error(data.message);
                            }
                            else
                            {
                                OW.info(data.message);
                                userIdList = data.allIdList;
                            }
                        }
                    });
                }
        );
    }

    {/literal}
</script>
{if !empty($permissionMessage)}
<div class="ow_anno ow_center">
    {$permissionMessage}
</div>
{else}
<div class="ow_stdmargin">
    {$groupBriefInfo}
</div>
<div>
    {$groupUserInfo}
</div>
<div>
    {if isset($viewAll)}
        <span class="ow_nowrap">
            {if isset($viewAll.href)}<a href="{$viewAll.href}">{/if}
            {$viewAll.label}
            {if isset($viewAll.href)}</a>{/if}
        </span>
    {/if}
</div>
<div>
    {if isset($leave)}
        <span class="ow_nowrap">
            {if isset($leave.href)}<a href="{$leave.href}">{/if}
            {$leave.label}
            {if isset($leave.href)}</a>{/if}
        </span>
    {/if}
</div>
<div>
    {$feed}
</div>
<div class="groups-invite-link ow_std_margin">
    {decorator name='button' class='ow_ic_add' type='button' langLabel='groups+invite_btn_label' id='GROUPS_InviteLink'}
</div>
{/if}