{if !empty($menu)}
{$menu}
<div class="owm_iisterms">
    {if !empty($items)}

    <div class="owm_box ow_smallmargin">
        <div class="owm_box_cap clearfix">
            <h3 class="ow_ic_tag">{$headerLabel}</h3>
        </div>
        <div class="owm_box_body">
            <div class="owm_box_body_cont clearfix">
                <div class="owm_box_padding">

                    <p class="release_date">{$lastModified}</p>

                </div>
            </div>
        </div>
    </div>

    {foreach from=$items item="item"}
    {if !empty($item.header)}

    <div class="owm_box ow_smallmargin">
        <div class="owm_box_cap clearfix">
            <h3 class="ow_ic_tag">{$item.header}</h3>
        </div>
        <div class="owm_box_body">
            <div class="owm_box_body_cont clearfix">
                <div class="owm_box_padding">

                    <p>{$item.description}</p>

                </div>
            </div>
        </div>
    </div>

    {/if}
    {/foreach}
    {else}
    <div class="owm_box ow_smallmargin">
        <div class="owm_box_body">
            <div class="owm_box_body_cont clearfix">
                <div class="owm_box_padding">
                    {text key="iisterms+archives_is_empty_description"}
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
{else}
<div class="owm_box ow_smallmargin">
    <div class="owm_box_body">
        <div class="owm_box_body_cont clearfix">
            <div class="owm_box_padding">
                <p>{text key="iisterms+section_empty_description"}</p>
            </div>
        </div>
    </div>
</div>
{/if}